[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook = "*"
pipenv-setup = "*"

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
matlab = "*"
matplotlib = ">=2.2"
mne = ">=0.19"
xarray = "*"
pylsl = "1.13.6"
torch = "1.1.0"
braindecode = "*"
genbci = {editable = true, path = "."}
pyriemann = "*"
moabb = {path = "/Users/daniele/Desktop/moabb"}
scikit-learn = "*"
seaborn = ">=0.9.0"
h5py = "*"
pandas = "*"
pyyaml = "*"
coloredlogs = "*"
sphinx-gallery = "*"
sphinx-bootstrap-theme = "*"
numpydoc = "*"
pillow = "*"
m2r = "*"

[requires]
python_version = "3.7"
