[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook = "*"

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
matlab = "*"
matplotlib = "*"
mne = "*"
xarray = "*"

[requires]
python_version = "3.7"
